html, body {
	height: 100%; 
	margin: 0; 
	padding: 0;
}

/* Responsive Web Design Fundamentals */
img, embed, object, video {
	max-width: 100%;
}

#searchdiv {
	height: 8%;
	width: 100%;
	padding: 1%;
}

#info {
	width: 100%;
}

#mapdiv {
	height: 92%;
	width: 100%;
	padding-bottom: 5%;
}

#search, #map {
	height: 100%;
	margin-left: 5%;
	margin-right: 5%;
	background: #FFF5E8;
}

.myli {
	background: #EBF5FC;
}
.mytext {
	padding-top: 5px;
}

.hl {
	color:blue;
	background:pink;
}
